body, 
html{
    font-family: 'Roboto', sans-serif;
}

#header{
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse{
    width: auto;
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0%;
    padding-right: 0%;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover{
    border-bottom: solid 4px var(--primary);
    color:var(--primary);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: indigo;
}

#serviços a.destaque{
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#serviços a.destaque:hover{
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,.12);
    transform: scale(1.05);
}

#serviços p{
    color:var(--dark)
}

#serviços a.destaque .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#serviços a.destaque .img-container {
    max-height: 160px;
}

#sobre a.btn:hover {

    color: #fff;

}

.contatos img{
    position: relative;
    left: 200px !important;
}



#formulario .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
}

#formulario .inputbox {

    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 40px;
}

#formulario .inputbox label {

    position: relative;
    top:0;
    left: 10px;
    font-size: 20px;
    color: indigo;
    transition: .5s;
    cursor: text;
}

#formulario .inputbox input {

    position: absolute;
    background-color: indigo;
    width: 100%;
    height: 4px;
    bottom: 0;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: .5s;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    color: white;
}

#formulario .inputbox input:focus,
#formulario .inputbox input:valid {
    height: 100%;
}

#formulario .inputbox input:focus + label,

#formulario .inputbox input:valid + label {
    top: -40px;
    left: 0;
}

#formulario .container button {

    justify-self: center;
    width: 200px;
    height: 50px;
    border:none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary);
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    color: white;
}

