h1,h1,h3,h4,h5,h6{
    font-weight: 400;
}

.title{
    text-transform: uppercase;
}
.subtitle{
    color: indigo;
}

.block {
    margin-top: 120px;
}

.superblock {
    margin-top: 225px;
}

a:hover{
    color: indigo;
}

